@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
  font-family: 'Merriweather', sans-serif;
  padding: 0;
  margin: 0;
  background: #1b263b;
  color: white;
  letter-spacing: 2px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #0d1b2a;
}

.header a{
    text-decoration: none;
    color: white;
}

.logo{
  font-size: 30px;
  font-weight: 450;
  letter-spacing: 3px;
}
.logo:hover{
    transform: scale(1.04);
}

.navbar{
    margin-right: 20px;
}

.navbar a{
   font-size: 22px;
   margin-left: 30px;
}
.navbar a:hover{
    color: rgb(33, 165, 183);
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content p{
    margin-left: 50px;
    margin-right: 50px;
}
.heading{
    background-color: #0d1b2a;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    /* border-radius: 10cm; */
    font-size: 32px;
    font-weight: 550;
}

.skill-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project{
    background-color: rgb(18, 72, 83);
    border-radius: 0.5cm;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.project-content{
    margin-left: 30px;
    margin-right: 30px;
}

.project-title{
    background-color: #0d1b2a;
    padding: 10px 40px;
    border-top-left-radius: 0.5cm;
    border-top-right-radius: 0.5cm;
    display: flex;
    justify-content: center;
}

.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.links a{
    color: rgb(33, 165, 183);
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    background-color: #0d1b2a;
    margin-top: 20px;
}